
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
	/* TODO: remove this once nativewind safe stuff work again */
	--spacing-safeet: 60px;
	--spacing-safeeb: 20px;

	--color-debug: var(--color-red-400);

}

@media (prefers-color-scheme: dark) {
	:root {
		--color-debug: var(--color-red-700);
	}
}
