@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
	/* TODO: remove this once nativewind safe stuff work again */
	--spacing-safeet: 60px;
	--spacing-safeeb: 20px;

	--color-debug: var(--color-red-400);

	--color-background: var(--color-white);
	--color-primary: var(--color-blue-600);
	--color-primary-foreground: var(--color-white);
	--color-secondary: var(--color-gray-600);
	--color-accent: var(--color-blue-400);
	--color-accent-foreground: var(--color-white);
	--color-muted: var(--color-gray-500);
	--color-muted-foreground: var(--color-gray-700);
	--color-border: var(--color-gray-300);
	--color-foreground: var(--color-black);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-debug: var(--color-red-700);
	}
}
